body {
  background-color: rgb(192, 192, 192);
  color: rgb(62, 57, 38);
  font-family: sans-serif;
  margin: 120px;
}
h2 {
  background-color: rgb(155, 147, 118);
  color: rgb(43, 36, 11);
}
#mickey {
  position: absolute;
  float: right;
  top: 120px;
  left: 245px;
  width: 7%;
  margin-top: 1px;
  margin-left: 28em;
}
#heading {
  color: rgb(85, 68, 0);
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em;
}
#place {
  color: rgb(33, 27, 4);
}
#para {
  margin-top: 120px;
}
#related {
  color: red;
}
#image {
  position: relative;
  margin-left: 180px;
  width: 50%;
  padding: 3px;
}
.highlight {
  background-color: rgb(254, 242, 194);
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
